<div class="flex items-center justify-between mb-4">
  <h1 class="text-2xl font-bold">Grupos de empresas</h1>
  <button (click)="AgregarGrupo()" class="bg-blue-500 text-white px-4 py-2 rounded">
    Agregar
  </button>
</div>

<div class="bg-white shadow rounded p-2">
  <div class="text-gray-700">

    <div *ngFor="let grupo of grupos">
  <div 
    class="flex border rounded-lg p-2 my-2 w-full cursor-pointer transition-colors duration-200 hover:bg-gray-100"
    (click)="EditarGrupo(grupo)"
  >
    <span>{{ grupo.nombre }}</span>
  </div>
</div>

  </div>
</div>