<ion-header class="pagesHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h1><ion-icon name="star" color="white"></ion-icon> Referencia</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="pagesContent">

  <div>
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <ion-col size="12" size-md="9" class="ion-text-center">
          <ion-input class="inputBusqueda" autocomplete="off" (ionInput)="inputBuscar.next($event.detail.value || '')"
            [placeholder]="inputBusquedaText">
            <ion-icon slot="end" name="search" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-md="3" class="ion-text-center" *ngIf="rolUsuario === RolesEnum.Admin">
          <ion-item class="inputBusqueda">
            <ion-label position="floating">Filtro por grupo</ion-label>
            <ionic-selectable item-content [items]="grupos" itemValueField="id" closeButtonSlot="end"
              itemTextField="nombre" closeButtonText="Cancelar" [canSearch]="true" [canClear]="true"
              clearButtonText="Limpiar" (onChange)="onGrupoSelect($event)" (onClear)="onGrupoClear($event)">
            </ionic-selectable>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="3" class="ion-text-center" *ngIf="rolUsuario === RolesEnum.Admin">
          <ion-item class="inputBusqueda">
            <ion-label position="floating">Filtro por embajador</ion-label>
            <ionic-selectable #selectableComponent item-content [items]="usuarios" itemValueField="id"
              closeButtonSlot="end" [searchFailText]="'No se encontraron usuarios.'" itemTextField="nombreCompleto"
              closeButtonText="Cancelar" [canSearch]="true" searchPlaceholder="Buscar usuario..." [canClear]="true"
              clearButtonText="Limpiar" (onSearch)="onSearchChange($event)" (onOpen)="onOpen($event)"
              (onChange)="onUsuarioSelect($event)" (onClear)="onUsuarioClear($event)">
              <ng-template ionicSelectableMessageTemplate>
                <ion-item text-wrap>
                  <p style="color: grey; font-size: small;">
                    Solo se muestran los primeros 30 usuarios encontrados.
                    Si no encuentra el deseado, utilice el buscador para obtener un resultado más preciso.
                  </p>
                </ion-item>
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="3" class="ion-text-center" *ngIf="rolUsuario === RolesEnum.Admin">
          <ion-item class="inputBusqueda">
            <ion-label position="floating">Filtro por empresa</ion-label>
            <ionic-selectable item-content [items]="empresas" itemValueField="id" closeButtonSlot="end"
              itemTextField="razonSocial" closeButtonText="Cancelar" [canSearch]="true" [canClear]="true"
              clearButtonText="Limpiar" (onChange)="onEmpresaSelect($event)" (onClear)="onEmpresaClear($event)">
            </ionic-selectable>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="3" class="ion-text-center">
          <ion-item class="inputBusqueda">
            <ion-label position="floating">Filtro por estatus</ion-label>
            <ionic-selectable item-content [items]="estatus" itemValueField="valor" closeButtonSlot="end"
              itemTextField="nombre" closeButtonText="Cancelar" [canSearch]="true" [canClear]="true"
              clearButtonText="Limpiar" (onChange)="onEstatusSelect($event)" (onClear)="onEstatusClear($event)">
            </ionic-selectable>
          </ion-item>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>

  <!-- Panel inferior con tabla básica -->
  <ion-card>
    <ion-card-header class="referidosHeader">
      <ion-card-title class="title">Referencias</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSourceTable" matSort>

          <ng-container matColumnDef="Nombre">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Nombre
            </th>
            <td mat-cell style="padding-left: 1rem;" *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="Email">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Contacto
            </th>
            <td mat-cell style="padding-left: 1rem;" *matCellDef="let element"> {{ element.email }} {{ element.celular }} </td>
          </ng-container>


          <ng-container matColumnDef="Producto">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Producto
            </th>
            <td mat-cell style="padding-left: 1rem;" *matCellDef="let element"> {{ element.producto }}
              <div *ngIf="element.vigente !== null">
                <small [ngClass]="element.productoVigente ? 'text-success' : 'text-danger'">
                  {{ element.productoVigente ? 'Vigente' : 'No vigente' }}
                </small>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Embajador">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Embajador
            </th>
            <td mat-cell style="padding-left: 1rem;" *matCellDef="let element"> {{ element.embajador }} </td>
          </ng-container>


          <ng-container matColumnDef="Empresa">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Empresa
            </th>
            <td mat-cell style="padding-left: 1rem;" *matCellDef="let element"> {{ element.empresa }} </td>
          </ng-container>

                   <ng-container matColumnDef="EstatusReferencia">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Estatus Referencia
            </th>
            <td mat-cell style="padding-left: 1rem;" *matCellDef="let element"> {{ element.estatusRerefencia }} </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="mydivoutermulti elemento-renglon row_clickable" (click)="seguimientoModal(element.id)">
          </tr>
          <tr class="mat-row" *matNoDataRow>
            <td [attr.colspan]="displayedColumns.length" style="text-align: center; padding: 1rem;">
              No se encontraron registros disponibles.
            </td>
          </tr>
        </table>
      </div>

      <mat-paginator [length]="total" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons [pageSize]="50">
      </mat-paginator>

    </ion-card-content>
  </ion-card>
</ion-content>