
.input-icon-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --margin-start: 0;
    --margin-end: 0;
    --margin-top: 0;
    --margin-bottom: 0;
    height: 30px !important;
    width: 40px !important; // o ajusta según lo que necesites
    min-height: 5px !important;
    min-width: 5px !important;

}

.btn-descargar {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/* modal.usuario.form.component.scss */
.modalHeader { --background: var(--ion-color-dark); color: #fff; }
.modalform .inputForm.invalid { --highlight-color-focused: var(--ion-color-danger); }
ion-card { border-radius: 14px; }

::ng-deep .modal-wrapper {
  max-width: 900px !important;   /* 👈 más ancho */
  width: 90% !important;         /* 👈 aprovecha casi toda la pantalla */
  height: auto !important;
  border-radius: 12px !important;
}

@media (min-width: 1200px) {
  ::ng-deep .modal-wrapper {
    max-width: 1100px !important; /* 👈 todavía más grande en pantallas grandes */
  }
}

ion-content {
  padding: 20px !important;
}

ion-item {
  margin-bottom: 12px;
}