<ion-header class="modalHeader">
  <ion-toolbar>
    <ion-title>{{title}} EMBAJADOR</ion-title>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">

  <form [formGroup]="formulario" class="modalform">
    <ion-grid>
      <ion-row>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nombre"
            [class.invalid]="getControl('nombre')?.invalid && getControl('nombre')?.touched" formControlName="nombre"
            placeholder="Nombre(s)" type="text" (ionBlur)="getControl('nombre')?.markAsTouched()"></ion-input>
          <ion-text color="danger" *ngIf="getControl('nombre')?.invalid && getControl('nombre')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Apellido"
            [class.invalid]="getControl('apellido')?.invalid && getControl('apellido')?.touched"
            formControlName="apellido" placeholder="Apellido(s)" type="text"
            (ionBlur)="getControl('apellido')?.markAsTouched()"></ion-input>
          <ion-text color="danger" *ngIf="getControl('apellido')?.invalid && getControl('apellido')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-select [interfaceOptions]="{ header: 'Pais'}" class="inputForm" okText="Ok" cancelText="Cancelar"
            label-placement="floating" label="Pais"
            [class.invalid]="getControl('pais')?.invalid && getControl('pais')?.touched" formControlName="pais"
            (ionChange)="onPaisChange($event)" (ionBlur)="getControl('pais')?.markAsTouched()">
            <ion-select-option *ngFor="let pais of paises" [value]="pais.id">
              {{ pais.descripcion }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('pais')?.invalid && getControl('pais')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6" *ngIf="isNacional">
          <ion-select [interfaceOptions]="{ header: 'Estado'}" okText="Ok" cancelText="Cancelar" class="inputForm"
            label-placement="floating" label="Estado"
            [class.invalid]="getControl('estado')?.invalid && getControl('estado')?.touched" formControlName="estado"
            class="inputForm" (ionBlur)="getControl('estado')?.markAsTouched()">
            <ion-select-option *ngFor="let estad of estados" [value]="estad.id">
              {{ estad.nombre }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('estado')?.invalid && getControl('estado')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6" *ngIf="!isNacional">
          <ion-input class="inputForm" label-placement="floating" label="Estado"
            [class.invalid]="getControl('estadoTexto')?.invalid && getControl('estadoTexto')?.touched"
            formControlName="estadoTexto" placeholder="Estado" type="text"
            (ionBlur)="getControl('estadoTexto')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('estadoTexto')?.invalid && getControl('estadoTexto')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" [class.invalid]="getControl('ciudad')?.invalid && getControl('ciudad')?.touched"
            label-placement="floating" label="Ciudad" formControlName="ciudad" placeholder="Ciudad" type="text"
            (ionBlur)="getControl('ciudad')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('ciudad')?.invalid && getControl('ciudad')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-select class="inputForm" [interfaceOptions]="{ header: 'Fuente de origen del usuario'}" okText="Ok"
            label-placement="floating" label="Fuente de origen" cancelText="Cancelar"
            [class.invalid]="getControl('fuenteOrigen')?.invalid && getControl('fuenteOrigen')?.touched"
            formControlName="fuenteOrigen" (ionBlur)="getControl('fuenteOrigen')?.markAsTouched()">
            <ion-select-option *ngFor="let fuenteO of fuentesOrigen" [value]="fuenteO.id">
              {{ fuenteO.nombre }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('fuenteOrigen')?.invalid && getControl('fuenteOrigen')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="12">
          <ion-input class="inputForm" [class.invalid]="getControl('email')?.invalid && getControl('email')?.touched"
            autocomplete="off" label-placement="floating" label="Correo electronico" formControlName="email"
            placeholder="Correo de contacto (usuario)" type="text" (ionBlur)="getControl('email')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('email')?.invalid && getControl('email')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm"
            [class.invalid]="getControl('telefono')?.invalid && getControl('telefono')?.touched"
            label-placement="floating" label="Celular (WhatsApp)" formControlName="telefono" placeholder="WhatsApp"
            type="text" (ionBlur)="getControl('telefono')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('telefono')?.invalid && getControl('telefono')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>


        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="stacked" [label]="ContrasenaLabel" [placeholder]="textoPassword" autocomplete="new-password" 
            [class.invalid]="getControl('password')?.invalid && getControl('password')?.touched"
            formControlName="password" type="text"
            (ionBlur)="getControl('password')?.markAsTouched()">
            <ion-button class="input-icon-button" fill="clear" slot="end" aria-label="Show/hide"
              (click)="refreshPassword()">
              <ion-icon slot="icon-only" name="refresh" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-input>

          <ion-text color="danger"
            *ngIf="getControl('password')?.hasError('required') && getControl('password')?.touched">
            Campo requerido
          </ion-text>
          <ion-text color="danger"
            *ngIf="getControl('password')?.hasError('minlength') && getControl('password')?.touched">
            La contraseña debe tener al menos 6 caracteres.
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-select [interfaceOptions]="{ header: 'Rol de usuario'}" class="inputForm" okText="Ok"
            cancelText="Cancelar" label-placement="floating" label="Rol de usuario"
            [class.invalid]="getControl('rol')?.invalid && getControl('rol')?.touched" formControlName="rol"
            (ionChange)="onRolChange($event)" (ionBlur)="getControl('rol')?.markAsTouched()">
            <ion-select-option *ngFor="let rol of roles" [value]="rol.valor">
              {{ rol.nombre }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('rol')?.invalid && getControl('rol')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6" *ngIf="mostrarGrupos">
          <ion-select [interfaceOptions]="{ header: 'Selecciona grupo'}" okText="Ok" cancelText="Cancelar"
            class="inputForm" label-placement="floating" label="Grupo"
            [class.invalid]="getControl('grupo')?.invalid && getControl('grupo')?.touched" formControlName="grupo"
            (ionBlur)="getControl('grupo')?.markAsTouched()">
            <ion-select-option *ngFor="let item of grupos" [value]="item.id">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('grupo')?.invalid && getControl('grupo')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6" *ngIf="mostrarEmpresas">
          <ion-select [interfaceOptions]="{ header: 'Selecciona empresa'}" okText="Ok" cancelText="Cancelar"
            class="inputForm" label-placement="floating" label="Empresa"
            [class.invalid]="getControl('empresa')?.invalid && getControl('empresa')?.touched" formControlName="empresa"
            (ionBlur)="getControl('empresa')?.markAsTouched()">
            <ion-select-option *ngFor="let item of empresas" [value]="item.id">
              {{ item.rfc }} - {{ item.razonSocial}}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('empresa')?.invalid && getControl('empresa')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6" *ngIf="mostrarParent">
          <ion-item class="inputForm">
            <ion-label position="floating">Usuario parent</ion-label>
            <ionic-selectable #selectableComponent item-content formControlName="parent" [items]="usuarios"
              itemValueField="id" closeButtonSlot="end" [searchFailText]="'No se encontraron usuarios.'"
              itemTextField="nombreCompleto" closeButtonText="Cancelar" [canSearch]="true"
              searchPlaceholder="Buscar usuario..." [canClear]="true" clearButtonText="Limpiar"
              (onSearch)="onSearchChange($event)" (onOpen)="onOpen($event)">
              <ng-template ionicSelectableMessageTemplate>
                <ion-item text-wrap>
                  <p style="color: grey; font-size: small;">
                      Solo se muestran los primeros 30 usuarios encontrados. 
                      Si no encuentra el deseado, utilice el buscador para obtener un resultado más preciso.
                  </p>
                </ion-item>

              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="width: 100%; text-align: center;">
      <ion-button class="customButton"  [disabled]="formEnviado" (click)="enviarFormulario()">
        {{btnName}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>