<ion-header class="modalHeader">
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">
  <h2 class="modalform-title ion-text-center">{{title}} PRODUCTO</h2>

  <form [formGroup]="formulario" class="modalform">
    <ion-grid>
      <ion-row>
        <!-- Sección: Datos básicos -->
        <ion-col size="12">
          <ion-text color="primary">
            <h2>Datos Básicos</h2>
          </ion-text>
        </ion-col>

        <!-- Nombre -->
        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nombre"
            [class.invalid]="getControl('nombre')?.invalid && getControl('nombre')?.touched" formControlName="nombre"
            placeholder="Nombre(s)" type="text" (ionBlur)="getControl('nombre')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('nombre')?.invalid && getControl('nombre')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <!-- Descripción -->
        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Descripción" formControlName="descripcion"
            placeholder="Descripción" type="text"
            [class.invalid]="getControl('descripcion')?.invalid && getControl('descripcion')?.touched"
            formControlName="descripcion">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('descripcion')?.invalid && getControl('descripcion')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <!-- Fecha Vencimiento -->
        <ion-col size="12" size-md="6">
          <mat-form-field appearance="fill" class="custom-datepicker">
            <mat-label>Fecha de vencimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaVencimiento" />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <ion-text color="danger"
            *ngIf="getControl('fechaVencimiento')?.invalid && getControl('fechaVencimiento')?.touched">
            Campo requerido
          </ion-text>
          <!-- <ion-datetime label="Fecha Vencimiento" labelPlacement="floating" formControlName="fechaVencimiento"
            presentation="date" prefer="modal">
          </ion-datetime> -->
        </ion-col>

        <!--Empresa opcion admin-->
        <ion-col size="12" size-md="6" *ngIf="mostrarEmpresas">
          <ion-select [interfaceOptions]="{ header: 'Selecciona empresa'}" okText="Ok" cancelText="Cancelar"
            class="inputForm" label-placement="floating" label="Empresa"
            [class.invalid]="getControl('empresa')?.invalid && getControl('empresa')?.touched" formControlName="empresa"
            (ionBlur)="getControl('empresa')?.markAsTouched()">
            <ion-select-option *ngFor="let item of empresas" [value]="item.id">
              {{ item.rfc }} - {{ item.razonSocial}}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('empresa')?.invalid && getControl('empresa')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <!-- Sección: Comisión -->
        <ion-col size="12" class="ion-margin-top">
          <ion-text color="primary">
            <h2>Comisión</h2>
          </ion-text>
        </ion-col>

        <!-- tipo comisión -->
        <ion-col size="12" size-md="6">
          <ion-select [interfaceOptions]="{ header: 'Tipo de comision'}" class="inputForm" okText="Ok"
            cancelText="Cancelar" label-placement="floating" label="Tipo de comision"
            [class.invalid]="getControl('tipoComision')?.invalid && getControl('tipoComision')?.touched"
            formControlName="tipoComision" (ionChange)="onTipoComisionChange($event)" (ionBlur)="getControl('tipoComision')?.markAsTouched()">
            <ion-select-option *ngFor="let item of tiposComision" [value]="item.valor">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('tipoComision')?.invalid && getControl('tipoComision')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <!-- Comisión por Cantidad -->
        <ion-col size="12" size-md="6" *ngIf="getControl('tipoComision')?.value === TipoComisionEnum.CantidadFija">
          <ion-input class="inputForm" label-placement="floating" label="Comisión cantidad $"
            [class.invalid]="getControl('comisionCantidad')?.invalid && getControl('comisionCantidad')?.touched"
            formControlName="comisionCantidad" placeholder="Comisión cantidad $" type="number" min="0"
            (ionBlur)="getControl('comisionCantidad')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger"
            *ngIf="getControl('comisionCantidad')?.invalid && getControl('comisionCantidad')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <!-- Comisión por Porcentaje -->
        <ion-col size="12" size-md="6" *ngIf="getControl('tipoComision')?.value === TipoComisionEnum.Porcentaje">
          <ion-input class="inputForm" label-placement="floating" label="Comisión porcentaje %"
            [class.invalid]="getControl('comisionPorcentaje')?.invalid && getControl('comisionPorcentaje')?.touched"
            formControlName="comisionPorcentaje" placeholder="Comisión porcentaje %" type="number" min="0" max="100"
            (ionBlur)="getControl('comisionPorcentaje')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger"
            *ngIf="getControl('comisionPorcentaje')?.invalid && getControl('comisionPorcentaje')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>


        <!-- Cantidad de porcentaje -->
        <ion-col size="12" size-md="6" *ngIf="getControl('tipoComision')?.value === TipoComisionEnum.Porcentaje">
          <ion-input class="inputForm" label-placement="floating" label="Cantidad de porcentaje $"
            [class.invalid]="getControl('cantidadPorcentaje')?.invalid && getControl('cantidadPorcentaje')?.touched"
            formControlName="cantidadPorcentaje" placeholder="Cantidad de porcentaje $" type="number" min="0"
            (ionBlur)="getControl('cantidadPorcentaje')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger"
            *ngIf="getControl('cantidadPorcentaje')?.invalid && getControl('cantidadPorcentaje')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>


        <!-- Sección: Niveles -->
        <ion-col size="12" class="ion-margin-top">
          <ion-text color="primary">
            <h2>Niveles</h2>
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="12">
          <ion-select [interfaceOptions]="{ header: 'Tipo de comision por nivel'}" class="inputForm" okText="Ok"
            cancelText="Cancelar" label-placement="floating" label="Tipo de comision por nivel"
            [class.invalid]="getControl('otroTipoComision')?.invalid && getControl('otroTipoComision')?.touched"
            formControlName="otroTipoComision" (ionBlur)="getControl('otroTipoComision')?.markAsTouched()">
            <ion-select-option *ngFor="let item of tiposComision" [value]="item.valor">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger"
            *ngIf="getControl('otroTipoComision')?.invalid && getControl('otroTipoComision')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nivel 1"
            [class.invalid]="getControl('nivel_1')?.invalid && getControl('nivel_1')?.touched" formControlName="nivel_1"
            placeholder="Nivel 1" type="number" min="0" (ionBlur)="getControl('nivel_1')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('nivel_1')?.invalid && getControl('nivel_1')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nivel 2"
            [class.invalid]="getControl('nivel_2')?.invalid && getControl('nivel_2')?.touched" formControlName="nivel_2"
            placeholder="Nivel 2" type="number" min="0" (ionBlur)="getControl('nivel_2')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('nivel_2')?.invalid && getControl('nivel_2')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nivel 3"
            [class.invalid]="getControl('nivel_3')?.invalid && getControl('nivel_3')?.touched" formControlName="nivel_3"
            placeholder="Nivel 3" type="number" min="0" (ionBlur)="getControl('nivel_3')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('nivel_3')?.invalid && getControl('nivel_3')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nivel 4"
            [class.invalid]="getControl('nivel_4')?.invalid && getControl('nivel_4')?.touched" formControlName="nivel_4"
            placeholder="Nivel 4" type="number" min="0" (ionBlur)="getControl('nivel_4')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('nivel_4')?.invalid && getControl('nivel_4')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nivel Master"
            [class.invalid]="getControl('nivel_master')?.invalid && getControl('nivel_master')?.touched"
            formControlName="nivel_master" placeholder="Nivel Master" type="number" min="0"
            (ionBlur)="getControl('nivel_master')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('nivel_master')?.invalid && getControl('nivel_master')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-input class="inputForm" label-placement="floating" label="Nivel Base"
            [class.invalid]="getControl('nivel_base')?.invalid && getControl('nivel_base')?.touched"
            formControlName="nivel_base" placeholder="Nivel Base" type="number" min="0"
            (ionBlur)="getControl('nivel_base')?.markAsTouched()">
          </ion-input>
          <ion-text color="danger" *ngIf="getControl('nivel_base')?.invalid && getControl('nivel_base')?.touched">
            Campo requerido
          </ion-text>
        </ion-col>


      </ion-row>

    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="width: 100%; text-align: center;">
      <ion-button class="customButton" shape="round" [disabled]="formEnviado" (click)="enviarFormulario()">
        {{btnName}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>