<ion-content class="login-page" fullscreen>
  <div class="center-wrapper">
    <div class="login-card" [formGroup]="loginForm">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <h2 class="form-title">Inicia Sesión</h2>

      @if (hasError) {
      <div class="custom-alert warning" *ngIf="hasError">
        <ion-text>{{ messageError }}</ion-text>
      </div>
      }

      <ion-input class="input"  autocomplete="username" [class.invalid]="getControl('user')?.invalid && getControl('user')?.touched"
        formControlName="user" placeholder="Usuario (Correo de contacto)" type="text"
        (ionBlur)="getControl('user')?.markAsTouched()"></ion-input>

      <ion-text color="danger" *ngIf="getControl('user')?.invalid && getControl('user')?.touched">
        Ingresa un email válido.
      </ion-text>

      <ion-input class="input"  autocomplete="current-password"  [class.invalid]="getControl('password')?.invalid && getControl('password')?.touched"
        formControlName="password" placeholder="Contraseña" type="password"
        (ionBlur)="getControl('password')?.markAsTouched()">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-text color="danger" *ngIf="getControl('password')?.invalid && getControl('password')?.touched">
        Ingrese su contraseña.
      </ion-text>
    

      <ion-button expand="block"  class="login-button" [disabled]="formEnviado" (click)="onSubmit()">ENTRAR</ion-button>
    </div>
  </div>
</ion-content>