<div class="producto-modal-content" *ngIf="producto">
  <div class="modal-body">
    <div class="modal-info">
      <h2>{{producto!.nombre}}</h2>
      <p class="modal-descripcion">{{producto!.descripcion}}</p>
      <div class="modal-fechas">
        <p><strong>Fecha de creación:</strong> {{producto!.creacionLetra}}</p>
        <p><strong>Vigencia:</strong> {{producto!.vigenciaLetra}}</p>
      </div>
    </div>

    <div class="modal-comisiones">
      <h2>Precio</h2>
      <table class="comisiones-table">
        <tbody>

          <!-- 🔒 Ocultar niveles si es Socio -->
          <tr *ngIf="!isSocio">
            <td><strong>Nivel 1</strong></td>
            <td class="monto">
              {{ producto.tipoComision === 1 ? '' : '$' }}{{ producto!.nivel1 | number:'1.2-2' }}{{ producto.tipoComision === 1 ? '%' : '' }}
            </td>
          </tr>
          <tr *ngIf="!isSocio">
            <td><strong>Nivel 2</strong></td>
            <td class="monto">
              {{ producto.tipoComision === 1 ? '' : '$' }}{{ producto!.nivel2 | number:'1.2-2' }}{{ producto.tipoComision === 1 ? '%' : '' }}
            </td>
          </tr>
          <tr *ngIf="!isSocio">
            <td><strong>Nivel 3</strong></td>
            <td class="monto">
              {{ producto.tipoComision === 1 ? '' : '$' }}{{ producto!.nivel3 | number:'1.2-2' }}{{ producto.tipoComision === 1 ? '%' : '' }}
            </td>
          </tr>
          <tr *ngIf="!isSocio">
            <td><strong>Nivel 4</strong></td>
            <td class="monto">
              {{ producto.tipoComision === 1 ? '' : '$' }}{{ producto!.nivel4 | number:'1.2-2' }}{{ producto.tipoComision === 1 ? '%' : '' }}
            </td>
          </tr>
          <tr *ngIf="!isSocio">
            <td><strong>Invitación</strong></td>
            <td class="monto">
              {{ producto.tipoComision === 1 ? '' : '$' }}{{ producto!.nivelInvitacion | number:'1.2-2' }}{{ producto.tipoComision === 1 ? '%' : '' }}
            </td>
          </tr>
          <tr *ngIf="!isSocio">
            <td><strong>Master</strong></td>
            <td class="monto">
              {{ producto.tipoComision === 1 ? '' : '$' }}{{ producto!.nivelMaster | number:'1.2-2' }}{{ producto.tipoComision === 1 ? '%' : '' }}
            </td>
          </tr>

          <!-- ✅ Total siempre visible -->
          <tr class="comision-total">
            <td><strong>Total</strong></td>
            <td class="monto">
              {{ producto.tipoComision === 1 ? '' : '$' }}{{ producto!.totalComision | number:'1.2-2' }}{{ producto.tipoComision === 1 ? '%' : '' }}
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
