<h1>Empresas</h1>

<form [formGroup]="empresaForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto p-6 bg-white  space-y-4">
  
  

  <div class="space-y-2">
    <label for="rfc" class="block text-sm font-medium text-gray-700">RFC</label>
    <input
      id="rfc"
      type="text"
      formControlName="rfc"
      class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
    />
    <div *ngIf="empresaForm.get('rfc')?.invalid && empresaForm.get('rfc')?.touched" class="text-red-600 text-sm mt-1">
      Es obligatorio capturar un RFC
    </div>
  </div>

  <div class="space-y-2">
    <label for="razonSocial" class="block text-sm font-medium text-gray-700">Razón social</label>
    <input
      id="razonSocial"
      type="text"
      formControlName="razonSocial"
      class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
    />
    <div *ngIf="empresaForm.get('razonSocial')?.invalid && empresaForm.get('razonSocial')?.touched" class="text-red-600 text-sm mt-1">
      La razón social de la empresa es obligatoria
    </div>
  </div>

  <div class="space-y-2">
    <label for="nombreComercial" class="block text-sm font-medium text-gray-700">Nombre comercial</label>
    <input
      id="nombreComercial"
      type="text"
      formControlName="nombreComercial"
      class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
    />
    <div *ngIf="empresaForm.get('nombreComercial')?.invalid && empresaForm.get('nombreComercial')?.touched" class="text-red-600 text-sm mt-1">
      El nombre comercial de la empresa es obligatorio
    </div>
  </div>

  <button
    type="submit"
    [disabled]="empresaForm.invalid"
    class="w-full py-2 bg-blue-600 text-white font-semibold rounded-lg focus:outline-none hover:bg-blue-700 disabled:bg-gray-300"
  >
    <span *ngIf="nuevo">Agregar Empresa</span>
    <span *ngIf="!nuevo">Guardar cambios</span>
  </button>
</form>
