<ion-header class="pagesHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> <h1><ion-icon name="calendar" color="white"></ion-icon> Corte mensual / Tabla de periodos</h1></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="pagesContent">

  <div>
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <ion-col size="12" size-md="9" class="ion-text-center">
          <ion-input class="inputBusqueda" (ionInput)="inputBuscar.next($event.detail.value || '')"
            placeholder="Buscar por nombre de mes o año">
            <ion-icon slot="end" name="search" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-col>

        <!-- Botón a la derecha -->
        <ion-col size="12" size-md="2" class="ion-text-center">
          <ion-button expand="block"  class="customGreenButton" (click)="addModal()"><ion-icon name="add"
              color="white"></ion-icon> AGREGAR</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Panel inferior con tabla básica -->
  <ion-card>
    <ion-card-header class="referidosHeader">
      <ion-card-title class="title">Periodos</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSourceTable" matSort>

          <ng-container matColumnDef="Anio">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Año </th>
            <td mat-cell *matCellDef="let element"> {{ element.anio }} </td>
          </ng-container>

          <ng-container matColumnDef="Mes">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Mes </th>
            <td mat-cell *matCellDef="let element"> {{ nombreMes(element.mes) }} </td>
          </ng-container>

          <ng-container matColumnDef="FechaInicio">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Fecha de inicio </th>
            <td mat-cell *matCellDef="let element"> {{ formatFecha(element.fechaInicio) }} </td>
          </ng-container>

          <ng-container matColumnDef="FechaFin">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Fecha Fin </th>
            <td mat-cell *matCellDef="let element"> {{ formatFecha(element.fechaFin) }} </td>
          </ng-container>

           <ng-container matColumnDef="FechaPagoEmpresas">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Fecha pago de empresa </th>
            <td mat-cell *matCellDef="let element"> {{ formatFecha(element.fechaPagoEmpresas) }} </td>
          </ng-container>

           <ng-container matColumnDef="FechaPagoEmbajadores">
            <th mat-header-cell style="padding-left: 1rem;" *matHeaderCellDef mat-sort-header> Fecha pago de embajador </th>
            <td mat-cell *matCellDef="let element"> {{ formatFecha(element.fechaPagoEmbajadores) }} </td>
          </ng-container>

          <ng-container matColumnDef="Visualizar">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
              <ion-button  fill="clear" (click)="editModal(element.id)">
                <ion-icon slot="icon-only" name="create"></ion-icon> <small>Editar</small>
              </ion-button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="mydivoutermulti elemento-renglon">
          </tr>
          <tr class="mat-row" *matNoDataRow>
            <td [attr.colspan]="displayedColumns.length" style="text-align: center; padding: 1rem;">
              No se encontraron registros disponibles.
            </td>
          </tr>

        </table>
      </div>

      <mat-paginator [length]="total" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons [pageSize]="50">
      </mat-paginator>

    </ion-card-content>
  </ion-card>
</ion-content>