<ion-header class="modalHeader">
  <ion-buttons slot="end">
    <ion-button (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">
  <h2 class="modalform-title ion-text-center">Seguimiento de referido</h2>

  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h2>Referido</h2>
        </ion-text>

        <b>Nombre:</b> {{referido?.nombreCompleto}}<br>
        <b>Email</b> {{referido?.email}}<br>
        <b>Celular:</b> {{referido?.celular}}<br>
        <b>Producto:</b> {{referido?.productoNombre}}<br><br>

        <h3>Embajador que realizo la referencia: </h3> {{referido?.usuarioNombreCompleto}}

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h2>Estatus</h2>
        </ion-text>

        <form [formGroup]="formStatus">

          <ion-select [interfaceOptions]="{ header: 'Estatus de seguimiento'}" class="inputForm" okText="Ok"
            cancelText="Cancelar" label-placement="floating" label="Estatus seguimiento"
            [class.invalid]="getControl('status')?.invalid && getControl('status')?.touched"
            formControlName="status" (ionBlur)="getControl('status')?.markAsTouched()">
            <ion-select-option *ngFor="let item of estatus" [value]="item.valor"  [disabled]="item.valor === estatusReferenciaEnum.Creado">
              {{ item.nombre }}
            </ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="getControl('status')?.invalid && getControl('status')?.touched">
            Campo requerido
          </ion-text>
          <br>
          <ion-button shape="round" [disabled]="formEnviado" (click)="enviarFormularioStatus()">
            Actualizar estatus
          </ion-button>
        </form>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h2>Seguimientos ({{numSeguimientos}})</h2>
        </ion-text>
      </ion-col>

      <!-- Descripción -->
      <ion-col size="12" size-md="12" *ngIf="this.referido?.estatusReferenciaEnum == estatusReferenciaEnum.Seguimiento">
        <form [formGroup]="formulario">

          <ion-textarea formControlName="comentario" label-placement="floating" label="Seguimiento" class="inputForm"
            [class.invalid]="getControl('comentario')?.invalid && getControl('comentario')?.touched" autoGrow="true"
            rows="4" maxlength="500" placeholder="Escribe tu seguimiento">
          </ion-textarea>

          <ion-text color="danger" *ngIf="getControl('comentario')?.invalid && getControl('comentario')?.touched">
            Campo requerido
          </ion-text>
          <br>
          <ion-button shape="round" [disabled]="formEnviado" (click)="enviarFormulario()">
            Enviar seguimiento
          </ion-button>
        </form>
      </ion-col>

      <ion-col size="12" size-md="12">
        <ion-card *ngFor="let item of seguimientos" color="light">
          <ion-card-header>
            <ion-card-subtitle>{{ formatFecha(item.fechaSeguimiento!) }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ item.comentario }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>